section.hero {
  background-color: var(--ink);
  color: var(--paper);

  inner-column {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  h2 {
    color: var(--color);
    text-wrap: balance;
  }

  picture {
    position: relative;

    /* left: -75px; */
    scale: 1.2;
  }
}
