section.hero {
  background-color: var(--ink);
  color: var(--paper);
  /* background-image: url(../../images/text-strip-nano.svg);
  background-size: 60%;
  background-repeat: repeat-x;
  background-position: 50px 50px; */

  overflow: hidden;

  inner-column {
    display: grid;
    min-height: calc(100vh - 85px);
    align-items: center;

    @media (min-width: 800px) {
      grid-template-columns: 1.6fr 1fr;
    }
  }

  h2 {
    color: var(--color);
    text-wrap: balance;
  }

  p {
    position: relative;
    z-index: 2;
  }

  picture {
    position: relative;

    /* left: 75px; */

    scale: 1.5;
  }
}
