.reviews{


	inner-column{
		
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--space-m);
	}

	.review-card{
		background-color: var(--color);
		max-width: 350px;
		padding: var(--space-l);
		display: grid;	
		align-items: end;
		gap: var(--space-s);
		border-radius: 5%;

		p{
			color: var(--white);
		}

	}

	picture{
			max-width: 20%;

		}

	.ratings{

			display: flex;
			flex-direction: row;
			gap: calc(var(--space-xs) * 0.4);
	}
}