.delivery {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    transition: 0.2s ease-in-out;

    @media (min-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  li {
    display: grid;
    padding: var(--space-l);

    align-items: center;

    @media (min-width: 800px) {
      /* min-height: 700px; */
      padding: calc(var(--space-3xl) * 1);
    }

    picture {
      transition: 0.2s;
    }

    &:hover picture {
      scale: 1.2;
    }
  }

  .nano {
    background-color: var(--black);
  }

  .doordash {
    background-color: #db3e40;
  }

  .uber {
    background-color: #57be70;
  }

  inner-column {
    padding-inline: 0;
    padding-bottom: 0;
  }
}
