.delivery {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    transition: 0.2s ease-in-out;

    @media (min-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 800px) {
    ul:has(.nano:hover) {
      grid-template-columns: 1.5fr 1fr 1fr;
    }

    ul:has(.uber:hover) {
      grid-template-columns: 1fr 1.5fr 1fr;
    }

    ul:has(.doordash:hover) {
      grid-template-columns: 1fr 1fr 1.5fr;
    }

/*    ul:has(.skip:hover) {
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
    }*/
  }

  li {
    display: grid;
    align-items: center;

    @media (min-width: 800px) {
      min-height: 700px;
    }
  }

  .nano {
    background-color: var(--black);
  }

  .doordash {
    background-color: #db3e40;
  }

  .uber {
    background-color: #57be70;
  }

  picture {
    padding: var(--space-l);
    margin-block: var(--space-s);
  }

  inner-column{
    padding-inline: 0;
  }
}
