.menu-page {
  main {
    padding-bottom: var(--space-3xl);
    background-image: url("../../images/specials/background.svg");

    animation: moveBackground 100s linear infinite forwards;

    .links {
      margin-top: var(--space-s);
      display: flex;
      gap: var(--space-xs);
      flex-wrap: wrap;
    }

    .menu-links {
      inner-column {
        padding-block: var(--space-s);
      }
    }

    a {
      font-size: var(--font-size-0);
      background-color: var(--black);
      border-radius: var(--corners);
      color: var(--white);
      &:hover {
        background-color: var(--accent);
      }
    }

    h2.attention-voice {
      margin-bottom: var(--space-s);
    }

    h3 {
      font-family: var(--font-head);
    }

    p + p {
      margin-top: 0;
    }

    .toppings {
      margin-top: var(--space-s);
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

      li {
        background-color: var(--highlight);
        padding: var(--space-s);
        display: grid;
        align-items: center;
        border-radius: var(--corners);
      }

      p {
        color: var(--white);
        font-size: var(--font-size-0);
        text-align: center;
        text-wrap: balance;
      }
    }

    ul.item-list {
      display: grid;
      gap: var(--space-2xs);
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .options {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-3xs);
        align-items: center;

        li {
          padding: var(--space-3xs) var(--space-xs);
          background-color: var(--black);
          border-radius: var(--corners-lg);
          color: var(--white);
        }
      }
    }

    .item-card {
      display: grid;
      align-content: start;
      gap: var(--space-2xs);
      padding: var(--space-m);
      border-radius: var(--corners);
      background-color: var(--white);

      /* border: var(--line-width) solid var(--color); */
      box-shadow: var(--shadow);

      .description {
        background-color: var(--highlight);
        padding: var(--space-xs);
        color: var(--white);
        border-radius: var(--corners);
      }
    }

    .wings,
    .pizza-wings {
      .single-item {
        display: grid;
        align-items: center;
        gap: var(--space-s);

        @media (min-width: 800px) {
          grid-template-columns: 2fr 1fr 1fr;
        }

        ul.single-items {
          display: grid;
          gap: var(--space-3xs);
        }

        .wing-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--space-xs);
          color: var(--white);
          background-color: var(--highlight);
          padding: var(--space-2xs) var(--space-s);
          white-space: nowrap;
          border-radius: var(--corners);
        }

        .sauces {
          display: grid;
          gap: var(--space-s);
          grid-template-columns: 1fr 1fr;
          text-align: center;
        }
      }
    }

    .pizza-wings .single-item {
      @media (min-width: 800px) {
        grid-template-columns: 1.5fr 2fr;
      }

      ul.single-items {
        display: grid;

        gap: var(--space-3xs);

        @media (min-width: 800px) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

p.price {
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--black);
  border-radius: var(--corners-lg);
  color: var(--white);
  justify-self: start;
}
