.catchy-1 {
  background-color: var(--color);
  position: relative;

  .header-text {
    text-align: right;

    h2 {
      color: var(--white);
    }
  }

  .header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  p {
    max-width: 50ch;
    z-index: 1;
    background: linear-gradient(
      to left,
      var(--color) 70%,
      hsla(31, 60%, 63%, 0.5)
    );
    padding: var(--space-s);
  }

  picture {
    position: absolute;
    left: 0px;
    bottom: -200px;
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .catchy-1 {
    .booming-voice {
      font-size: var(--font-size-4);
    }

    background-color: var(--color);
    position: relative;

    .header-text {
      position: relative;
      text-align: right;
      z-index: 1;

      h2 {
        color: var(--white);
      }
    }

    .header-info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    p {
      max-width: 40ch;
    }

    picture {
      position: absolute;
      left: -70%;
      bottom: -200px;
      max-width: 600px;
      /* filter: blur(5px); */
    }
  }
}
