/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
}

header {
  inner-column {
    align-items: center;
    justify-content: space-between;
    padding: var(--space-s);

    @media (min-width: 800px) {
      display: flex;
    }
  }

  .logo-full {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);

    @media (max-width: 800px) {
      justify-content: center;
    }

    picture {
      max-width: 50px;
    }
    p {
      font-family: var(--font-head);
      font-size: var(--font-size-1);
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--space-s);

    @media (max-width: 800px) {
      justify-content: center;
    }
  }

  a {
    font-family: var(--font-head);
    font-size: var(--font-size-1);
  }
}

footer{
  background-color: var(--black);
  color: var(--white);
  margin-top: var(--space-m);


  a{
    color: var(--white);
    margin-block: var(--space-s);
  }

  .copyright{
    text-align: center;
    margin-block: var(--space-s);
  }


  inner-column{
    display: grid;
    gap: var(--space-m);
    grid-template-columns: 1fr 1fr 1fr;
/*    align-items: center;
    justify-items: center;*/

          picture{
        max-width: 350px;

        @media(max-width:800px) {
          max-width: 250px;
        }
      }

    @media(max-width:800px){
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .quick-links, .business-info{
        text-align: left;
      }





    }
  }

  .contact-info{
/*    padding: var(--space-m);*/

    div+div{
      margin-top: var(--space-xs);
    }
  }

}
