/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
}

header {
  inner-column {
    align-items: center;
    justify-content: space-between;
    padding: var(--space-s);

    @media (min-width: 800px) {
      display: flex;
    }
  }

  .logo-full {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);

    @media (max-width: 800px) {
      justify-content: center;
    }

    picture {
      max-width: 50px;
    }
    p {
      font-family: var(--font-head);
      font-size: var(--font-size-1);
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--space-s);

    @media (max-width: 800px) {
      justify-content: center;
    }
  }

  a {
    font-family: var(--font-head);
    font-size: var(--font-size-1);
  }
}
